# Manipulating NumPy Arrays

In [1]:
import numpy as np

## Looping Through Arrays

In [2]:
arrA = ([(11, 12, 13), (14, 15, 16)])
print(arrA)

[(11, 12, 13), (14, 15, 16)]

In [7]:
for x in arrA:
    print(x * 2)

(11, 12, 13, 11, 12, 13)
(14, 15, 16, 14, 15, 16)

In [11]:
for x in arrA:
    for y in x:
        print(y * 2)

22
24
26
28
30
32

The difference between the two loops is when looping through the first dimension and multiplying by 2 the output is the tuple repeated twice, when looping through the second dimension and multiplying by 2 the output is the individual numbers multiplied by 2 in a single column.

In [15]:
for x in arrA:
    for y in x:
        loop_result = x * 2
        print(loop_result)

(11, 12, 13, 11, 12, 13)
(11, 12, 13, 11, 12, 13)
(11, 12, 13, 11, 12, 13)
(14, 15, 16, 14, 15, 16)
(14, 15, 16, 14, 15, 16)
(14, 15, 16, 14, 15, 16)