# Pandas Fundamentals

In [1]:
import numpy as np
import pandas as pd

## Series

In [10]:
aa = [1,2,3,4]
ab = (5,6,7,8)
ac = {9,10,11,12}
ad = {'first':13,'second':14,'third':15,'fourth':16}
ser1 = pd.Series(aa)
ser2 = pd.Series(ab)
ser3 = pd.Series(list(ac))
ser4 = pd.Series(ad)
print(ser1)
print(ser2)
print(ser3)
print(ser4)

0    1
1    2
2    3
3    4
dtype: int64
0    5
1    6
2    7
3    8
dtype: int64
0     9
1    10
2    11
3    12
dtype: int64
first     13
second    14
third     15
fourth    16
dtype: int64

In [15]:
ser5 = pd.Series(17,18,19,20)
ser5
# The TypeError I recieve when running this code is Index(...) must be called with a collection of some kind, 18 was passed
# Must be specified as a collection of some sort using either a list[], a tuple(), or a dict{key:value}

TypeError: Index(...) must be called with a collection of some kind, 18 was passed

## DataFrames from Series

In [37]:
df1 = pd.DataFrame(ser1)
df1

   0
0  1
1  2
2  3
3  4

In [38]:
df1.insert(1, 1, ser2)
df1.insert(2, 2, ser3)
df1

   0  1   2
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

In [39]:
df1.insert(3, 3, ser4)
df1

   0  1   2   3
0  1  5   9 NaN
1  2  6  10 NaN
2  3  7  11 NaN
3  4  8  12 NaN

When adding a new column using the series ser4, the values all returned as NaN because ser4 is the only series created from a dictionary which means the keys automatically return as the index(or rows) for a DataFrame but in this case our DataFrame already has rows

In [40]:
df1.loc[4] = [5,9,12,0]
df1

   0  1   2    3
0  1  5   9  NaN
1  2  6  10  NaN
2  3  7  11  NaN
3  4  8  12  NaN
4  5  9  12  0.0

## Reading Data into a DataFrame